.leftright {
  &:extend(.clickcounter);
  width: @leftright-width;
  @media (max-width: @leftright-width) {
    width: 100%;
  }
  .footer {
    height: @logo-height;
    margin-bottom: @margin;
    .logo {
      .dothiv-icon;
      top: 0;
    }
  }
}
