.micro {
  .header {
    margin: @margin-micro @margin-micro * 2 0 @margin-micro;
  }
  .ok {
    background: data-uri('../../img/ribbon-dots.png') no-repeat 0 0;
    width: @icon-width-micro;
    height: @icon-height-micro;
    left: 0;
  }
  .ok.premiumVisualMicro {
    top: 0;
  }
  p {
    font-size: @headline-fontsize-micro;
    margin-left: @icon-width-micro + @margin-micro;
    padding-top: @margin;
  }
}
