// Stylesheet for the bottom clickcounter
@import "../_variables";
@import "_base";
#clickcounter.premium {
  &:extend(.clickcounter all);
  width: @premium-width;
  @media (max-width: @premium-width) {
    width: 100%;
  }
  .header {
    .logo {
      .dothiv-icon;
    }
    p {
      margin-right: @icon-width;
    }
  }
}
