// Define all variables here.
@topbottom-width: {{topbottom-width}}px;
@premium-width: {{premium-width}}px;
@leftright-width: {{leftright-width}}px;
@shadow-size: {{shadow-size}}px;
@animation-overflow: {{animation-overflow}}px;
@pinkbar-height: {{pinkbar-height}}px;
@pinkbar-margin: {{pinkbar-margin}}px;
@icon-size: {{icon-size}}px;
@headline-fontsize: {{headline-fontsize}}px;
@text-fontsize: {{text-fontsize}}px;

// Default values
@color-pinkbar: {{color-pinkbar}};
@color-font: {{color-font}};
@color-bg: {{color-bg}};
@color-overlay: {{color-overlay}};
@color-pinkbar-alt: mix(@color-pinkbar, @color-bg, 20%);

// Micro sizes
@icon-size-micro: {{icon-size}}px / 2;
@pinkbar-margin-micro: {{pinkbar-margin}}px / 2;
@headline-fontsize-micro: {{headline-fontsize-micro}}px;
