// Define all variables here.
@topbottom-width: {{topbottom-width}}px;
@premium-width: {{premium-width}}px;
@leftright-width: {{leftright-width}}px;
@shadow-size: {{shadow-size}}px;
@animation-overflow: {{animation-overflow}}px;
@icon-width: {{icon-size}}px;
@icon-height: {{icon-size}}px * {{icon-aspect}};
@logo-width: 45px;
@logo-height: @logo-width;
@headline-fontsize: {{headline-fontsize}}px;
@text-fontsize: {{text-fontsize}}px;
@margin: {{margin}}px;

// Default values
@color-font: {{color-font}};
@color-bg: {{color-bg}};
@color-overlay: {{color-overlay}};
@color-link: {{color-link}};

// Micro sizes
@icon-width-micro: {{icon-size}}px / 2;
@icon-height-micro: {{icon-size}}px / 2 * {{icon-aspect}};
@margin-micro: {{margin}}px / 2;
@headline-fontsize-micro: {{headline-fontsize-micro}}px;
