// Stylesheet for the bottom clickcounter iframe
#dothiv-clickcounter-iframe.bottom {
  &:extend(.iframe);
  bottom: 0;
  left: 0;
  width: 100%;
  height: @icon-size + @pinkbar-height + 3 * @pinkbar-margin + @shadow-size + @animation-overflow;
}
