// Stylesheet for the bottom clickcounter iframe
#dothiv-clickcounter-iframe.bottom {
  &:extend(.iframe);
  bottom: 0;
  left: 0;
  width: 100%;
  height: @topbottom-height + @shadow-size + @animation-overflow;
}
