// Stylesheet for the top clickcounter iframe
#dothiv-clickcounter-iframe.top {
  &:extend(.iframe);
  top: 0;
  left: 0;
  width: 100%;
  height: @icon-height + 3 * @margin + @shadow-size + @animation-overflow;
}

#dothiv-clickcounter-background.top {
  &:extend(.filled-background);
}
