@import "common.less";
@import "mixins.less";

// As we have to support IE8 we default to desktop styles. (800px)
// We add some space for large screens (>=1000px)
// We remove stuff for small devices (<720px)
// We remove stuff for extra small devices (<480px)

#dothiv-cb-container {
  border-top: 1px solid #E4E4E4;
  bottom: 3px;
  position: absolute;
  text-align: center;
  width: 100%;
  height: @center-height + @pinkbar-height;
  .box-shadow(~"0 -@{dropshadow-size} 4px #ECECEC,0 @{dropshadow-size} @{dropshadow-size} #ECECEC");
}

#dothiv-cb-left-span {
    display: block;
    line-height: 20px;
}

#dothiv-cb-pinkbar {
    background-color: @color-pinkbar;
    float: left;
    height: @pinkbar-height;
    width: 57%;
}

#dothiv-cb-statusbar {
    background-color: @color-pinkbar-alt;
    font-size: 16px;
    height: @pinkbar-height;
    text-align: left;
    clear: both;
}

#dothiv-cb-close {
  right: 0px;
  top: @center-ribbon-margin;
}

#dothiv-cb-content {
  position: relative;
  height: @center-height;
  margin: 0 auto;
  text-align: left;
  width: @content-width;
}

.dothiv-ribbon {
  background: url('../img/dothiv-gfx/png/banner/ribbon@2x.png') @center-ribbon-margin @center-ribbon-margin no-repeat;
}

#dothiv-cb-left {
  text-align: left;
  float: left;
  margin-left: 83px;
  width: @content-width - 83px;
  position: relative;
}

#dothiv-cb-left-span {
  font-size: 24px;
  a {
    text-decoration: none;
  }
}

#dothiv-cb-right {
  display: block;
  float: left;
  width: @content-width * 0.4;
  position: absolute;
  right: 0;
  bottom: 0;
}

#dothiv-cb-movement {
  font-size: 12px;
  display: inline-block;
  padding-top: @center-ribbon-margin;
  padding-right: 0;
}

#dothiv-cb-links {
  display: block;
}

#dothiv-cb-h1 {
  margin: 0;
  font-size: 60px;
  padding-top: @center-ribbon-margin;
}

#dothiv-cb-statusbar {
  .dothiv-status-left, .dothiv-status-right {
    padding-top: 0;
  }
}

// Larger desktops.
@media screen and (min-width: 1000px) {
  #dothiv-cb-content {
    width: @content-width-wide;
  }

  #dothiv-cb-left {
    width: @content-width-wide - 83px;
  }

  #dothiv-cb-right {
    width: @content-width-wide * 0.4;
  }

  #dothiv-cb-movement {
    font-size: 13px;
  }
}

// Smartphones.
@media screen and (max-width: (@content-width - 1px)) {
  #dothiv-cb-content {
    width: 100%;
  }

  #dothiv-cb-left {
    width: auto;
  }

  #dothiv-cb-h1 {
    font-size: 30px;
  }

  #dothiv-cb-left-span {
    font-size: 12px;
  }

  .dothiv-status-right, .dothiv-status-left {
    font-size: 12px;
    line-height: 18px;
    span {
      display: block;
    }
  }

  #dothiv-cb-right {
    width: 100%;
    position: relative;
  }

  #dothiv-cb-links {
    display: none;
  }
}

// iPhone 3
@media screen and (max-width: 320px) {
  #dothiv-cb-close {
    background-image: url('../img/dothiv-gfx/gif/banner/coin-close.gif');
    height: 37px;
    width: 35px;
    right: 10px;
  }
}
