@import "common.less";
@import "mixins.less";

#dothiv-rb-container {
  margin: @right-margin;
  .box-shadow(0 0 8px 1px #DEDEDE);
}

#dothiv-rb-content {
}

#dothiv-rb-left {
  background: url('../img/dothiv-gfx/png/banner/ribbon.png') 3px 3px no-repeat;
  height: @right-height;
}

#dothiv-rb-status-left, #dothiv-rb-status-right {
  &:extend(.dothiv-status-small)
;
  display: none;
}

#dothiv-rb-status-right {
  padding-left: 10px;
}

#dothiv-rb-status-left {
  text-align: right;
  width: 100%;
  span {
    padding-right: 10px;
  }
}

#dothiv-rb-pinkbar {
    background-color: #E00073;
  height: @pinkbar-height-compact;
  width: 67%;
  float: left;
}

.dothiv-rb-mouseover #dothiv-rb-pinkbar, .dothiv-rb-mouseover #dothiv-rb-statusbar {
  height: @pinkbar-height;
}

#dothiv-rb-statusbar {
    background-color: #FCE5F1;
    position: relative;
  height: @pinkbar-height-compact;
}

#dothiv-rb-h1 {
  font-size: 35px;
  height: @right-height;
  line-height: @right-height;
  margin-left: 35px;
  margin-top: 0;
  margin-bottom: 0;
  float: left;
}

#dothiv-rb-subheading {
  margin-left: 10px;
  margin-top: 8px;
  width: 30%;
  font-size: 12px;
  float: left;
  a {
    text-decoration: underline;
  }
}

#dothiv-rb-close {
  right: 10px;
  top: 15px;
  background-image: url('../img/dothiv-gfx/gif/banner/coin-close.gif');
  height: 37px;
  width: 35px;
}

.dothiv-rb-mouseover #dothiv-rb-close {
  top: 15px + (@pinkbar-height - @pinkbar-height-compact);
}
