#dothiv-rb-container {
    bottom: 200px;
    height: 63px;
    position: fixed;
    right: -100px;
    width: 265px;
    .box-shadow(0 0 8px 1px #DEDEDE);
    .rotate(270);
}

#dothiv-rb-right-content {
    background: url('../img/groschen-small.png') left bottom no-repeat;
    margin-left: 10px;
    margin-top: 5px;
}

#dothiv-rb-statusbar {
    background-color: #FCE5F1;
}

#dothiv-rb-h1 {
    font-size: 30px;
    font-style: normal;
    height: 40px;
    width: 200px;
    margin-left: 55px;
    margin-top: 0;
    margin-bottom: 0;
}

#dothiv-rb-pinkbar {
    background-color: #E00073;
    height: 8px;
    width: 47%;
}
