@import "common.less";
@import "mixins.less";

#dothiv-cb-close {
    right: -40px;
    top: -5px;
}

#dothiv-cb-container {
    border-top: 1px solid #E4E4E4;
    bottom: 3px;
    height: 152px;
    position: absolute;
    text-align: center;
    width: 100%;
    .box-shadow(~"0 -2px 4px #ECECEC,0 2px 2px #ECECEC");
}

#dothiv-cb-content {
    background: url('../img/coin.png') left bottom no-repeat;
    height: 116px - 25px;
    margin: 0 auto 25px auto;
    position: relative;
    text-align: left;
    width: 960px;
}

#dothiv-cb-fb-icon {
    background: url('../img/facebook.png');
}

#dothiv-cb-h1 {
    font-size: 45px;
    margin: 0;
    padding-top: 20px;
}

.dothiv-cb-icon {
    display: inline-block;
    height: 24px;
    margin-left: 10px;
    vertical-align: bottom;
    width: 24px;
}

#dothiv-cb-left {
    float: left;
    margin-left: 83px;
    width: 645px;
}

#dothiv-cb-left-span {
    display: block;
    line-height: 20px;
}

.dothiv-cb-link {
    margin-right: 14px;
}

#dothiv-cb-links {
    display: block;
    line-height: 20px;
    margin-top: 11px;
}

#dothiv-cb-logo {
    background: url('../img/dothiv.png');
    display: inline-block;
    height: 24px;
    margin-left: 5px;
    margin-right: 0;
    width: 39px;
}

#dothiv-cb-movement {
    background-position: 680px 40px;
    background-repeat: no-repeat;
    display: block;
    padding-top: 30px;
}

#dothiv-cb-pinkbar {
    background-color: #E00073;
    float: left;
    height: 36px;
    width: 57%;
}

#dothiv-cb-status-left {
    display: block;
}

#dothiv-cb-status-left-secondary, #dothiv-cb-status-right-secondary {
    display: none;
}

#dothiv-cb-status-right, #dothiv-cb-status-right-secondary {
    font-style: normal;
    line-height: 36px;
    padding-left: 20px;
}

#dothiv-cb-status-right {
    display: inline-block;
}

#dothiv-cb-statusbar {
    background-color: #FCE5F1;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    height: 36px;
    text-align: left;
}

#dothiv-cb-tw-icon {
    background: url('../img/twitter.png');
}
