@import "mixins.less";

#dothiv-clickcounter {
    border: none;
    bottom: 0;
    height: 157px;
    left: 0;
    position: fixed;
    top: 200px;
    width: 100%;
    z-index: 1000;
}

#dothiv-background {
    background-color: white;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    left: 0px;
    height: 100%;
    margin: 0px;
    opacity: 0;
    padding: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
}
