@import "common.less";

// shared attributes for all three containers
.dothiv-container {
    background: url('../img/squairy-small.png');
    color: #333333;
    font-family: Georgia, serif;
    font-size: 13px;
    font-style: italic;
    z-index: 1000;
    & dothiv\\:a, dothiv\\:a:visited {
        color: #333333;
    }
    & dothiv\\:h1 {
        display: block;
        font-family: 'Trebuchet MS', Helvetica, sans-serif;
        font-style: normal;
        font-weight: bold;
    }
}
